<div class="p-4">
  <div class="container">
    <h1>Admin</h1>
    <p>This section can only be accessed by administrators.</p>
    <p>
      <a routerLink="accounts" class="btn btn-primary mb-3">Manage Accounts</a>
    </p>

    <!-- add a button to reset the application data for testing purposes-->
      <!-- <div class="card mt-4">
            <div class="card-header bg-danger text-white">
                <h4 class="mb-0">Danger Zone</h4>
            </div>
            <div class="card-body">
                <h5>Reset Application Data</h5>
                <p>This action will delete all accounts, employees, departments, workflows, and requests from local storage.</p>
                <button class="btn btn-danger" (click)="clearAccountsData()">Reset All Data</button>
            </div>
      </div> -->
  </div>
</div>
