<div class="card">
  <div class="card-header">
    <h2 class="mb-0">REQUESTS</h2>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Type</th>
          <th>Employee</th>
          <th>Items</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of requests">
          <td>{{ request.type }}</td>
          <td>{{ request.employee?.employeeId }}</td>
          <td>
            <ul class="list-unstyled mb-0">
              <li *ngFor="let item of request.requestItems">
                {{ item.name }} (x{{ item.quantity }})
              </li>
            </ul>
          </td>
          <td>
            <span class="badge text-white p-2 rounded-pill" 
                  [ngClass]="{
                    'bg-success': request.status === 'Approved', 
                    'bg-danger': request.status === 'Rejected',
                    'bg-warning': request.status === 'Pending'
                  }">
              {{ request.status }}
            </span>
          </td>
          <td>
            <a *ngIf="account()?.role === 'Admin'" class="btn btn-primary" (click)="edit(request.id)">
              Edit
            </a>
          </td>
        </tr>
        <tr *ngIf="!requests || requests.length === 0">
          <td colspan="5" class="text-center">
            <span class="spinner-border spinner-border-lg align-center"></span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end mt-3">
      <a class="btn btn-primary" (click)="add()">Add Request</a>
    </div>
  </div>
</div>
